[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest
[submodule "extern/doxygen-awesome-css"]
	path = extern/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "extern/kassert"]
	path = extern/kassert
	url = https://github.com/kamping-site/kassert.git
[submodule "extern/pfr"]
	path = extern/pfr
	url = https://github.com/apolukhin/pfr_non_boost
