[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest
[submodule "extern/gtest-mpi-listener"]
	path = extern/gtest-mpi-listener
	url = https://github.com/LLNL/gtest-mpi-listener
