name: C/C++ CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: self-hosted
    container:
      image: "localhost:5000/kamping-ci"
    strategy:
      matrix:
        compiler:
          - { name: Clang, cc: clang, cxx: clang++}
          - { name: GNU, cc: gcc, cxx: g++}
        build-mode: [Debug, Release]
    timeout-minutes: 60
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'recursive'
    - name: export-compiler
      run: |
        echo CXX=${{ matrix.compiler.cxx }} >> $GITHUB_ENV
        echo CC=${{ matrix.compiler.cc }} >> $GITHUB_ENV
        echo OMPI_CXX=${{ matrix.compiler.cxx }} >> $GITHUB_ENV
        echo OMPI_CC=${{ matrix.compiler.cc }} >> $GITHUB_ENV
    - name: print-mpirun-version
      run: mpirun --version
    - name: print-mpicxx-flags
      run: mpicxx -show
    - name: cmake
      run: cmake -B build -DCMAKE_BUILD_TYPE=${{ matrix.build-mode }} -DCMAKE_CXX_COMPILER=${{ matrix.compiler.cxx }} -DCMAKE_C_COMPILER=${{ matrix.compiler.cc }} -DCMAKE_EXPORT_COMPILE_COMMANDS=1
    - name: build
      run: cmake --build build/ --parallel 2
    - name: Allow-running-mpi
      run: |
        echo OMPI_ALLOW_RUN_AS_ROOT=1 >> $GITHUB_ENV
        echo OMPI_ALLOW_RUN_AS_ROOT_CONFIRM=1 >> $GITHUB_ENV
    - name: run tests
      run: ctest --output-on-failure --test-dir build/
